<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="application.css">
    <title>Bookers</title>
  </head>

  <body>
   <h2>New Book</h2>
   <%= form_with model: @book,url:'/books', local:true do |f| %>
　 <div class="field">
　 <label for="book_title">Title</label>
　 <%= f.text_field :title %>
　 </div>

　 <div class="field">
　 <label for="book_body">Body</label>
　 <%= f.text_area :body %>
　 </div>

　 <div class="action">
　 <%= f.submit 'Create Book' %>
　 </div>
　 <% end %>
　 </body>
　</html>